{% extends "base.html" %}

{% block conteudo %}
    <div class="corpo">
        <h1>Quem somos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet eget orci id egestas. Nam ut vehicula neque, ac feugiat odio. Sed vitae erat tellus. Sed eu nunc sit amet justo convallis suscipit aliquam ut ex. Cras eu lacus imperdiet, accumsan magna in, mattis dui. Nulla accumsan vel urna at bibendum. Cras ac pharetra lectus. Nulla vitae vulputate ex. Quisque blandit pretium orci ut aliquam.</p>
        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <hr>
        <h1>Objetivos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet eget orci id egestas. Nam ut vehicula neque, ac feugiat odio. Sed vitae erat tellus. Sed eu nunc sit amet justo convallis suscipit aliquam ut ex. Cras eu lacus imperdiet, accumsan magna in, mattis dui. Nulla accumsan vel urna at bibendum. Cras ac pharetra lectus. Nulla vitae vulputate ex. Quisque blandit pretium orci ut aliquam.</p>
    </div>
{% endblock %}